@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 8px solid white;
  border-radius: 50%;
  border-top: 8px solid #6ad8d3;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-bg{
  background-color: #2d6c77;
}

.home-bg{
  background-color: #20515a;
}
.footer-bg{
  background-color: #0b262b;
}
.bukk{
  background-color: #20515a;
  
}
.buttonkk
{
  background-color: #6ad8d3
}
.lkk{
  
  background-color: #c2b9ae;
}

